@import '../../Sass/Abstracts/Variables';

.branding {
  font-size: 4rem;
  height: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
  
  &.xl {
    font-size: 12rem;

    @media screen and (max-width: 900px) {
      font-size: 4rem;
    }
  }

  &.xs {
    font-size: 1.4rem;
  }

  span {
    font-family: $rubik;
    font-weight: 900;
    font-style: italic;
    display: block;
    position: absolute;
    letter-spacing: -0.005em;

    &::before, 
    &::after {
      content: attr(aria-label);
      display: block;
      position: relative;
      padding: 0 0.1em;
      z-index: 1;
    }

    &::before {
      position: absolute;
      -webkit-text-stroke: 0.1em black;
      z-index: 0;
    }

    &:first-child {
      color: $light-purple;
      transform: translate(-1em, -0.245em);
    }
    
    &:last-child {
      color: $lightest-purple;
      transform: translate(1em, 0.255em);
    }
  }
}
  
 