// Colours
$darkest-green: #242423;
$dark-green: #333533;
$light-green: #F5CB5C;
$pale-green: #E8EDDF;
$pale-green-light: #CFDBD5;
$white: #FFFFFF;

// Typography
$lightest: 100;
$light: 300;
$normal: 500;
$strong: 700;
$strongest: 900;
$monospace: 'Courier New', Courier, monospace;
$lora: 'Lora', serif;
$rubik:  'Rubik', serif;

