// Colours
$dark-purple: rgb(53 35 52);
$purple: rgb(73, 1, 60);
$light-purple: rgb(170, 0, 119);
$lightest-purple: rgb(250, 220, 241);
$yellow: rgb(190, 246, 37);
$white: rgb(255,255,255);
$black: rgb(0,0,0);

// Typography
$lightest: 100;
$light: 300;
$normal: 500;
$strong: 700;
$strongest: 900;
$monospace: 'Courier New', Courier, monospace;
$lora: 'Lora', serif;
$rubik:  'Rubik', serif;
$helvetica: 'Helvetica', sans-serif;

