.social-links {
  display: grid;
  grid-template-columns: 65px 65px;
  column-gap: 100px;
  width: 230px;
  margin: 60px auto;

  a {
    img {
      width: 65px;
      transition: transform 300ms;
    }
    &:hover {
      img {
       transform: scale(1.4);
      }
    }
  }
}