@use '../../Sass/Abstracts/Variables' as *;

.hero-image {
  width: 100vw;
  height: 80vh;

  @media screen and (max-width: 1024px) {
    height: 80vh;
  }

  @media screen and (max-width: 500px) {
    height: 50vh;
  }

  .scroll {
    position: absolute;
    bottom: 50px;
    font-size: $font-size-body-lg;

    &.blink-smooth {
      animation: blink_smooth 2s infinite;
    }
  }

  .hero-text {
    display: block;
    margin: 22% auto 0 auto;
    font-size: 12rem;
    letter-spacing: 0;
    font-weight: 100;

    @media screen and (max-width: 1024px) {
      margin-top: 50%;
      font-size: 10rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 4rem;
    }

    .logo {
      display: inline-block;
      background-image: url("../../assets/ds-chevron.svg");
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;

      @media screen and (max-width: 500px) {
        width: 80px;
        height: 80px;
      }
    }

    strong {
      font-weight: 900;
    }
  }
}

@keyframes blink_smooth {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}