@use '../../Sass/Abstracts/Variables' as *;

.hero-image {
  width: 100vw;
  height: 80vh;

  .scroll {
    position: absolute;
    bottom: 50px;
    font-size: $font-size-body-lg;
    line-height: $line-height-body;

    &.blink-smooth {
      animation: blink_smooth 2s infinite;
    }
  }

  .hero-text {
    display: block;
    margin: 22% auto 0 auto;
    font-size: 10vw;
    letter-spacing: 0;
    font-weight: 100;

    @media screen and (max-width: 1024px) {
      margin-top: 50%;
    }

    .logo {
      max-width: 10vw;
      width: 100%;
      height: auto;
      margin-right: 10px;
    }

    strong {
      font-weight: 900;
    }
  }
}

@keyframes blink_smooth {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}