.hero-image {
  width: 100vw;
  height: 100vh;

  .hero-text {
    display: block;
    margin: 22% auto 0 auto;
    font-size: 12rem;
    letter-spacing: 0;
    font-weight: 100;

    .logo {
      display: inline-block;
      background-image: url("../../assets/ds-chevron.svg");
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
    }

    strong {
      font-weight: 900;
    }
  }
}