.clients {
  margin: 35px 0;

  h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 1.1;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.6;
  }
  .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .logo {
      margin: 5px;
      border-radius: 16px;
      max-width: 350px;
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 520px) {
      grid-template-columns: 1fr;
    }
  }

}