.logo-container {
  font-size: 10vw;
  letter-spacing: 0;
  font-weight: 100;

  .logo {
    max-width: 10vw;
    width: 100%;
    height: auto;
    margin-right: 10px;
  }

  strong {
    font-weight: 900;
  }

  @media screen and (max-width: 1024px) {
    font-size: 15vw;
  }
}