@use '../../Sass/Abstracts/Variables' as *;

.logo-container {
  font-size: 10vw;
  letter-spacing: 0;
  font-weight: $font-weight-thin;

  .logo {
    max-width: 10vw;
    width: 100%;
    height: auto;
    margin-right: 10px;
  }

  strong {
    font-weight: $font-weight-black;
  }

  @media screen and (max-width: $breakpoint-desktop) {
    font-size: 15vw;
  }
}
