.about-content {
  max-width: 90vw;
  margin: 0 auto;

  h4 {
    margin-bottom: 50px;
  }

  .icon {
    height: 60px;
    width: 60px;
    margin: 20px;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}