@use '../../Sass/Abstracts/Variables' as *;

.about {
  margin: 45px auto;
  text-align: left;

  h2 {
    margin-bottom: 50px;
  }

  .cta {
    width: 50vw;
    font-size: 1.6rem;
    line-height: $line-height-heading;
    margin: 100px auto;
    text-align: center;

    @media screen and (max-width: 1024px) {
      width: 85vw;
    }
  }
}