@use '../../Sass/Abstracts/Variables' as *;

.about {
  margin: 45px auto;
  text-align: left;

  .about-bio {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 30px;

    img {
      width: 90%;
      border-radius: 16px;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 0px;
      img {
        width: 100%;
      }
    }
  }

  h2 {
    margin-bottom: 50px;
  }

  .cta {
    width: 50vw;
    font-size: 1.6rem;
    line-height: $line-height-heading;
    margin: 100px auto;
    text-align: center;

    @media screen and (max-width: 1024px) {
      width: 85vw;
    }
  }
}