@use '../../Sass/Abstracts/Variables' as *;

.contact-form {
  text-align: left;
  width: 100%;
  margin: 0 auto;

  .notification {
    display: none;

    &.show {
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
      padding: 20px 0;
      border-radius: 5px;
      text-align: center;
      font-size: 1.4rem;
      display: block;
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    input, 
    label, 
    textarea {
      width: 100%;
      box-sizing: border-box;
    }

    label {
      margin: 15px 0 10px 0;
      font-weight: 700;
      font-size: $font-size-body-lg;
    }

    input {
      height: 55px;

      &[type="submit"] {
        margin: 10px auto;
        background-color: $color-accent-primary;
        color: $color-text-primary;
        font-size: $font-size-body-lg;
        cursor: pointer;
        &:disabled {
          background-color: $color-bg-elevated;
          color: $color-text-primary;
          border: 0;
          cursor: not-allowed;
        }
      }

      &::placeholder {
        text-indent: 15px;
        font-size: $font-size-body-lg;
        font-family: $font-mono;
      }
    }

    input, 
    textarea {
      border-radius: 5px;
      border: 2px solid $color-text-primary;
    }

    textarea {
      height: 150px;
      padding: 15px 0;
      
      &::placeholder {
        text-indent: 15px;
        font-family: $font-mono;
        font-size: $font-size-body-lg;
      }
    }
  }
}