@use '../Abstracts/Variables' as *;

body {
  font-family: $font-sans;
  font-size: $font-size-body;
}

code, pre {
  font-family: $font-mono;
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-tight;
  font-weight: 900;
}

h2 {
  font-size: $font-size-h2;
  line-height: $line-height-heading;
  font-weight: 700;
}

h3 {
  font-size: $font-size-h3;
  line-height: 1.3;
  font-weight: 600;
}

h4 {
  font-size: $font-size-h4;
  line-height: 1.4;
  font-weight: 500;
}

p {
  line-height: $line-height-body;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}

.lead {
  font-size: $font-size-body-lg;
}

.small {
  font-size: $font-size-small;
}


