@use '../Abstracts/Variables'  as *;

/* Typography */
body {
  font-family: $lora;
  font-size: 22px;
  color: $white;
}

strong {
  font-weight: $strongest;
}

h1, h2, h3 {
  font-family: $rubik;
  font-weight: $strong;
}

h1 {
  font-size: 3rem;
}
 
h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
}

p {
  margin: 1.5rem;
}

a {
  color: $yellow;
  font-weight: $strong;
}

em {
  font-style: italic;
}

.code-text {
  font-family: $lora;
}
