@use './Sass/Reset' as *;
@use './Sass/Abstracts/Variables' as *;
@use './Sass/Layout/Layout' as *;
@use './Sass/Typography/Typography' as *;

body {
  background-image: url('./assets/cover-image.png');
  background-size: cover;
  background-attachment: fixed;
  color: $color-text-primary;
  font-size: 18px;

  p {
    line-height: 155%;
    margin-bottom: 25px;
  }

  a {
    color: $color-accent-primary;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    width: 60vw;
    margin: 0 auto;
    padding: 10px 45px;
    background-color: $color-bg-primary-faded;

    @media screen and (max-width: 1024px) {
      width: 85vw;
    }
  }
}

.content-section {
  width: 100vw;
  padding: 150px 0;
  background-color: $color-bg-primary;
}
