@use './Sass/Reset' as *;
@use './Sass/Abstracts/Variables' as *;
@use './Sass/Layout/Layout' as *;
@use './Sass/Typography/Typography' as *;

body {
  background-color: $black;

  p {
    line-height: 155%;
    margin-bottom: 25px;
  }
}
.content-section {
  width: 100vw;
  padding: 150px 0;
  background-color: $black;
}
