@use './Sass/Reset' as *;
@use './Sass/Abstracts/Variables' as *;
@use './Sass/Layout/Layout' as *;
@use './Sass/Typography/Typography' as *;

body {
  background-color: $black;
}
.content-section {
  width: 100vw;
  padding: 150px 0;
  background-color: $black;
}
